@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600&family=Space+Grotesk:wght@400;500;600;700&display=swap');

:root {
  font-family: "Space Grotesk", sans-serif;
  color: #e3e2e9;
  background: #10131a;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

html,
body,
#root {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  background: #10131a;
  color: #e3e2e9;
}

body {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}